@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    background-color: #FFE5B4;
    font-family: 'Inter', sans-serif;
    background-image: url(../pics/Névtelen1.jpg);
    background-repeat: no-repeat;
    object-fit: fill;
}
nav{
    background-color: #481F01;
    padding: 15px;
    position: fixed;
}
nav a{
    color: #481F01;
    margin: 15px;
    
}

nav a:hover{
    color: white;
    text-decoration: none;
}

nav a:first-child{
    font-size: 1.5em;
}
<<<<<<< HEAD
.banner{
    background-image: url();
=======
.kep{
>>>>>>> ad13aa5c8f16ca68f1240ab8012c251412c92b56
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

