@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


body{
    background-color: #FFE5B4;
    font-family: 'Inter', sans-serif;
    object-fit: fill;
    overflow: hidden;


}
nav a {
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
}

#home{
    height: 100vh;
    background-image: url(../pics/test.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

img {
    width: 100%;
    height: auto;
    
  }

#home .intro{
    color: white;
    height: 100vh;
}
nav{
    background-color: #481F01;

}

nav a:first-child img {
    width: 40px;
}

.banner{
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: contain;
}



